#menu-overlay {
    position: fixed;
    top: 6px;
    right: -100%;
    bottom: 6px;
    left: 100%;
    z-index: 99;
    background: var(--black);
    color: var(--white);
    padding: var(--side-padding);
    border-radius: 25px;
    border: 1px solid var(--white);
    transition: all 0.2s ease-in-out;

    #close-menu {
        color: var(--black);
        font-family: var(--times);
        text-align: center;
        background: var(--white);
        font-size: 20px;
        line-height: 0;
        padding: 20px;
        display: block;
        border-radius: 50px;
        margin-bottom: 10px;
        //cursor: pointer;
        text-transform: uppercase;
    }

    #close-menu:hover {
        background: var(--green);
    }

    .holder {
        overflow-y: scroll;
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 4px;
            word-spacing: 0.01vw;
            font-family: var(--times);
            line-height: 0.75;
            margin: 10px 0;
    
            a {
                font-size: 08vw;
                letter-spacing: 0.08vw;
                white-space: nowrap;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                width: 100%;
                border-top: 2px solid var(--white);
                border-bottom: 2px solid var(--white);
                padding: 6px 0;
                letter-spacing: -0.6vw;

                svg {
                    height: auto;
                    width: 3vw;
                    margin: 0 -12px;
                }
            }

        }
    
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin: 40px 0;

            li {
                border-bottom: 1px solid var(--white);
            }
    
            a {
                font-family: var(--times);
                font-size: 8vw;
                letter-spacing: -0.4vw;
                text-transform: uppercase;
            }

            a:hover {
                text-decoration: none;
                color: var(--green);
            }
        }

        .socials ul {
            list-style: none;
            margin: 0;
            padding: 20px 0 10px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px 0px;
            
            a {
                border: 1px solid var(--white);
                padding: 6px 20px;
                border-radius: 25px;
                text-transform: uppercase;
                display: block;
                font-size: 23px;
            }

            a:hover {
                text-decoration: none;
                color: var(--green);
            }

        }

    }


}


body.admin-bar #menu-overlay {
    //margin-top: 46px;
}

@media screen and (max-width: 767px) {
    
    #menu-overlay {

        #close-menu {
            padding: 12px;
            margin-bottom: 2px;
        }

        .holder {

            .logo {
                word-spacing: 0.01vw;
                a {
                    font-size: 16vw;
                    letter-spacing: -0.6vw;

                    svg {
                        width: 6vw;
                        margin: 0;
                        margin: 0 -9px 0 -16px;
                    }
                }
            }

            nav ul {
                a {
                    font-size: 16vw;
                }
            }

            .socials ul {
                
                a {
                    padding: 4px 12px;
                    font-size: 16px;
                }
                
            }

        }
    }

}