/*
* Model
*/
#model-holder {
    position: relative;
    visibility: visible;

    model-viewer {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
}

// #reader {
//     font-size: 6px;
// }

// .mobile-model {
//     visibility: hidden;

//     model-viewer {
//         position: fixed;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         z-index: -1;
//         width: 100vw;
//         height: 100vh;
//         overflow-x: hidden;
//     }
// }



@media screen and (max-width: 767px) {
    
    // .desktop-model {
    //     display: none !important;
    //     visibility: hidden !important;
    //     opacity: 0 !important;
    // }
    
    // .mobile-model {
    //     visibility: visible;
    //     opacity: 1 !important;
    //     display: block !important;
    // }

}