/*
* Model
*/
#model-holder {
    position: relative;
}

#model-holder-mobile, #myModelMobile {
    display: none;
}

model-viewer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    
    #model-holder, #myModel,
    #model-holder model-viewer, #myModel model-viewer {
        display: none !important;
    }
    
    #model-holder-mobile {
        display: block;
    }

}