/*
* Navbar
*/
.navbar {
    padding: 10px;
    color: var(--white);
    z-index: 9;
    text-transform: uppercase;
    line-height: 1;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        //padding: 10px var(--side-padding) 0 var(--side-padding);
        position: relative;
    }

    a {
        display: block;
    }

    a:hover {
        color: var(--green);
        text-decoration: none;
    }

    .active {
        color: var(--green);
    }

    .logo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4px;
        word-spacing: 0.01vw;
        font-family: var(--times);
        line-height: 0.75;

        a {
            font-size: 4vw;
            letter-spacing: -0.3vw;
            white-space: nowrap;
            //cursor: pointer;
        }

        a:hover {
            color: var(--green);
        }

        span.liner {
            font-family: var(--mono);
            font-size: 8px;
            line-height: 85%;
            color: var(--green);
            word-spacing: 1px;
            white-space: nowrap;
        }
    }


    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0px;
        list-style: none;
        margin: 0;
    }

    ul a {
        border: 1px solid var(--white);
        border-radius: 25px;
        padding: 0px 20px;
        font-size: 22px;
        //cursor: pointer;
    }

    ul a:hover {
        color: var(--green);
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        font-family: var(--times);
        font-size: 3vw;
    }
}

body.admin-bar .navbar {
    //margin-top: 34px !important;
}

/*
*
* Hamburger
*
*/
#hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: -2px;
    //cursor: pointer;

    span {
        width: 90px;
        height: 4px;
        background: var(--white);
    }
}


#hamburger:hover {
    span {
        background: var(--green);
    }
}


@media screen and (max-width: 767px) {

    .navbar {
        padding: 10px;
        
        nav.desktop {
            display: none;
        }

        .logo {
            a {
                font-size: 7vw;
                letter-spacing: -0.3vw;
                white-space: nowrap;
            }

            span.liner {
                display: none;
            }
        }

        .right {
            font-size: 22px;
            font-family: var(--times);
        }

    }

    body.admin-bar .navbar {
        //margin-top: 48px !important;
    }

}