:root {
    --black: #1e1e1e;
    --white: #efefef;
    --grey: #363636;
    --green: rgb(131, 233, 48);

    --mono: "at";
    --times: "times";

    --side-padding: 12px;
    --top-padding: 20px;
    --mobile-padding-top: 60px;
}

@import './reset.scss';

body {
    background: var(--black);
    color: var(--white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--mono);
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

button {
    font-family: var(--mono);
    letter-spacing: 2px;
}

select {
    font-family: var(--mono);
}


/*
*
* Page Content
* Navbar Height on Desktop: 50px
* Navbar Height on Mobile: 4vw
*/
.page-content {
    position: relative;
    margin-top: 50px;
    padding: 14px var(--side-padding);
}

body.admin-bar .page-content {
    margin-top: calc(34px + 50px);
}


@media screen and (max-width: 767px) {

    .page-content {
        margin-top: 4vw;
        padding: 14px var(--side-padding);
    }

    body.admin-bar .page-content {
        margin-top: calc(48px + 4vw);
    }

}

input:focus {
    outline: 0;
    border: 0;
}

header {
    padding: 0 0 var(--top-padding) 0;

    h1 {
        font-family: var(--times);
        font-weight: normal;
        font-size: 58px;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 12px;
    }
}


.cart-link {
    // position: absolute;
    // top: 100%;
    // right: var(--side-padding);
    line-height: 0.6;
    font-family: var(--times);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 6px;

    a {
        color: var(--green);
    }

}

@import './navbar.scss';

@import './menu-overlay.scss';

@import './model.scss';

@import './grain.scss';

@import './marquee.scss';

@import './announcement-modal.scss';

@import './motion-modal.scss';

@import './pages/show.scss';

@import './pages/music.scss';

@import './pages/blog-archive.scss';
@import './pages/blog-post.scss';

@import './woocommerce/breadcrumbs.scss';

@import './woocommerce/notices.scss';

@import './woocommerce/single-product.scss';

@import './woocommerce/product-archive.scss';

@import './woocommerce/cart.scss';

@import './woocommerce/checkout.scss';
