.page-content.music {
    iframe {
        border-radius: 25px;
    }
}

@media screen and (max-width:767px) {
    
    .page-content.music {
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }

}