ul.shows-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;

    li {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        border-bottom: 1px solid var(--white);
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 12px;
    }

    p {
        margin: 0 0 4px 0;
        font-size: 10px;
        letter-spacing: -1px;
        white-space: nowrap;
    }

    p.lineup {
        font-family: var(--times);
        font-size: 32px;
        line-height: 0.8;
        white-space: wrap;
    }

    .flier p {
        cursor: pointer;
    }

    .flier p:hover {
        color: var(--green);
    }

}

.flier-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);

    display: none;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        max-width: 90%;
        height: auto;
        max-height: 80vh;
    }
}

@media screen and (max-width: 767px) {
    
    ul.shows-list {

        .info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 4px;
        }

    }

}