ul.shows-list {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    display: block;

    li {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        border-bottom: 1px solid var(--white);
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
    }

    .date {
        font-size: 14px;
    }

    p {
        margin: 0 0 4px 0;
        font-size: 10px;
        letter-spacing: -1px;
        white-space: nowrap;
    }

    p.lineup {
        font-family: var(--times);
        font-size: 4vw;
        line-height: 0.8;
        white-space: wrap;
    }

    .flier p {
        cursor: pointer;
    }

    .flier p:hover {
        color: var(--green);
    }

    .flier-link {
        font-size: 1.6vw;
        text-transform: uppercase;
        border: 1px solid var(--white);
        border-radius: 50px;
        padding: 4px 12px;
    }
    .model-opener {
        cursor: pointer;
    }
    .model-opener:hover {
        color: var(--green);
    }

}

.flier-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);

    display: none;
    align-items: center;
    justify-content: center;

    img {
        width: auto;
        max-width: 100%;
        max-height: 80vh;
        aspect-ratio: inherit;
    }
}

@media screen and (max-width: 767px) {
    
    ul.shows-list {

        .info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 12px;
        }


        p.lineup {
            font-family: var(--times);
            font-size: 6.5vw;
            line-height: 0.8;
            white-space: wrap;
        }

        .flier-link {
            display: none;
        }

    }

}